<div class="centered-xs">
    <div id = "forgotBox" style="position:relative">
        <%= error_messages_for :user %>

        <% form_for :web_user do |f| -%>
            <div class="input">
               <h3> <%= h "Enter your email address then click the Continue button. We'll email information for you to reset your Password." %></h3>
                <label>Email:</label>
                <span><%= f.text_field :email %></span>

                <br/><br/>

                <div class="centered-xxs">  <%= recaptcha_tags({:display => {:theme => 'clean'}}) %> </div>

                <p><%= submit_tag 'Continue', :class=> "buttonRed" %></p>
            </div>
        <% end -%>
      <span style="position: absolute; z-index: 10; width: 312px; right: -175px; height: 268px; top: 0px;" id="tipsy-headset"></span>
    </div>
</div>
