<% distance = number_with_precision(@blog_entry.distance_to(session[:geo_location]), 1)  if @blog_entry.lat %>
<td title="<%= h @blog_entry.categories.join(',') -%>" class="bad_post">

  <%= h(@blog_entry.what.downcase)[0..140] -%>

  <% if logged_in? && ( current_web_user.user.id == @blog_entry.user_id || current_web_user.is_admin  ) %>
            <span><%= link_to_remote  "<em>edit</em>", {:update => "tr#{@blog_entry.id}",
                                                        :url => { :controller => 'users', :action => 'edit_blog_entry',
                                                                  :blog_entry_id => @blog_entry.id,
                                                                  :map_index => map_index
                                                        }}, {:class=>"buttonEdit", :title=>"edit"} %></span>

  <% end %>

</td>

<td class="bad post">
  <em class="hide"><%= distance||9999999 %></em>
  <span><%= h @blog_entry.where.downcase %></span>
  <% if @blog_entry.lat && @mapmessages && map_index && map_index < 99 then %>
            <span class="hasMap"
                  id="marker<%= (map_index).to_s %>"
                  <%= %Q{onclick="showMapIcon(#{@blog_entry.lat},#{@blog_entry.lng});"} %>
            /> </span>
  <% elsif @blog_entry.lat %>
      <span class="hasMap" id="oldMapMarker"/> </span>
  <% end %>

</td>

<td class="bad_post">
        <span class="price">  <%=
            @blog_entry.display_price()
        %> </span>
</td>

<td class="bad_post" title="<%= @blog_entry.user.ranked %>">

  <%= @blog_entry.user.name %>

</td>

<td class="bad_post">
  <em class="hide"><%= @blog_entry.created_at.strftime("%m/%d/%Y %I:%M %p") %></em>
        <span class="small" title="<%= @blog_entry.created_at.strftime("%m/%d/%Y %I:%M %p") -%>">
          <%= distance_of_time_in_words(Time.now, @blog_entry.created_at) %>  ago </span>
</td>

<td>
  <span title="This post needs to be edited to contain facts on a deal: what, where, how much"> N/A </span> 
</td>