<%-
    map_index = 0;
    if @map_index && @map_index > 0
        map_index=@map_index+1
    elsif @mapmessages
        if map_index=@mapmessages.index(@blog_entry)
            map_index=map_index+1;
        end
    else
        map_index="";
    end;
%>
<tr id="tr<%= @blog_entry.id %>" class="message">

  <td title="<%= h @blog_entry.categories.join(',') -%>">


    <a href="mailto:?subject=WWHOW! look what I found! A great deal on <%=u(@blog_entry.what)%> &body=<%= u(@blog_entry.set_text_from_attributes) %>%0A%0Abrought to you by http://wwhow.com&">
      <%= h(@blog_entry.what.downcase) -%>
    </a>


    <span style="display:none"> <%= h @blog_entry.categories.join(' ') -%> </span>

    <% if logged_in? && ( current_web_user.user.id == @blog_entry.user_id || current_web_user.is_admin  ) %>
            <span><%= link_to_remote  "<em>edit</em>", {:update => "tr#{@blog_entry.id}",
                    :url => { :controller => 'users', :action => 'edit_blog_entry',
                            :blog_entry_id => @blog_entry.id,
                            :map_index => map_index
                    }}, {:class=>"buttonEdit", :title=>"edit"} %></span>

    <% end %>

  </td>
  <% distance = number_with_precision(@blog_entry.distance_to(session[:geo_location]), 1)  if @blog_entry.lat %>
  <td class="where" title="<%= h("about "<<distance << " miles ") if distance %>">
    <em class="hide"><%= distance||9999999 %></em>
    <span><%= h @blog_entry.where.downcase %></span>
    <% if @blog_entry.lat && @mapmessages && map_index && map_index < 99 then %>
            <span class="hasMap"
                  id="marker<%= (map_index).to_s %>"
                  onclick="showMapIcon(<%=map_index%>);"
            /> </span>
    <% elsif @blog_entry.lat %>
        <span class="hasMap" id="oldMapMarker"/> </span>
    <% end %>

  </td>

  <td>
        <span class="price">  <%=
            @blog_entry.display_price()
        %> </span>
  </td>

  <td title="<%= @blog_entry.user.ranked %>">

    <%= @blog_entry.user.name %>

    <% if logged_in? and @user.id != @blog_entry.user.id and !@user.subscriptions.collect{|f| f.friend_id}.include?(@blog_entry.user.id) %>
            <span><%= link_to_remote  "<em>add to favorite</em>", {
                    :url => { :controller => 'users', :action => 'add_user_to_favorites',
                            :friend_id => @blog_entry.user.id }, :confirm => 'Add '+@blog_entry.user.name + ' to my favorite users?'},
                    {:class=>"buttonAddFave", :title => 'add to favorites'} %>
                </span>

    <% end %>
  </td>

  <td>
    <em class="hide"><%= @blog_entry.created_at.strftime("%m/%d/%Y %I:%M %p") %></em>
        <span class="small" title="<%= distance_of_time_in_words(Time.now, @blog_entry.created_at) %> ago">
            <%= @blog_entry.created_at.strftime("%m/%d/%Y %I:%M %p") -%>

        </span>
  </td>

  <td>
    <%= render :partial => "ratings/rate", :locals => { :asset => @blog_entry } %>
  </td>

</tr>
<% last_id = @blog_entry.id  unless @blog_entry.nil? %>