<tr id="tr<%= @histmsg.id %>" class="message">

    <td title="<%= h @histmsg.categories.join(',') -%>">

        <span class="what"> <%= h @histmsg.what.downcase -%> </span>

        <span style="display:none"> <%= h @histmsg.categories.join(' ') -%> </span>

        <% if current_web_user && current_web_user.user.id == @histmsg.user_id %>
            <span><%= link_to_remote  "<em>edit</em>", {:update => "tr#{@histmsg.id}",
                    :url => { :controller => 'users', :action => 'edit_blog_entry',
                            :blog_entry_id => @histmsg.id }}, {:class=>"buttonEdit", :title=>"edit"} %></span>

        <% end %>

    </td>
    <td title="<%= h("about "<<number_with_precision(@histmsg.distance_to(session[:geo_location]), 1) << " miles ")  if @histmsg.lat %>">

        <%= h @histmsg.where.downcase %>

        <% if @histmsg.lat then %>
            <span class="hasMap"><em>☼</em></span>
        <% end %>

    </td>

    <td>
        <span class="price">  <%=

            displaytext = @histmsg.price_text.downcase.index(/[aeioubcdfghjklmnpqrstvxxyz]/)  unless @histmsg.price_text.nil?          
            if displaytext
                @histmsg.price_text
            else
                number_to_currency(@histmsg.price)
            end
        %> </span>
    </td>

    <td title="<%= @histmsg.user.ranked %>">

        <%= @histmsg.user.name %>

        <% if logged_in? and @user.id != @histmsg.user.id and !@user.subscriptions.collect{|f| f.friend_id}.include?(@histmsg.user.id) %>
            <span><%= link_to_remote  "<em>add to favorite</em>", {
                    :url => { :controller => 'users', :action => 'add_user_to_favorites',
                            :friend_id => @histmsg.user.id }, :confirm => 'Add '+@histmsg.user.name + ' to my favorite users?'},
                    {:class=>"buttonAddFave", :title => 'add to favorites'} %>
                </span>

        <% end %>
    </td>

    <td title="<%= distance_of_time_in_words(Time.now, @histmsg.created_at) %> ago">
        <span class="small">
            <%= @histmsg.created_at.strftime("%m/%d/%Y %I:%M %p") -%>

        </span>
    </td>

    <td>
        <%= render :partial => "ratings/rate", :locals => { :asset => @histmsg } %>
    </td>

</tr>
<% last_id = @histmsg.id  unless @histmsg.nil? %>