<tr id="tr<%= @histmsg.id %>" class="message">

    <td title="<%= h @histmsg.categories.join(',') -%>">

        <span class="what"> <%= h @histmsg.what.downcase -%> </span>

        <span style="display:none"> <%= h @histmsg.categories.join(' ') -%> </span>

        <% if logged_in? && ( current_web_user.user.id == @histmsg.user_id || current_web_user.is_admin  )%>
            <span><%= link_to_remote  "<em>edit</em>", {:update => "tr#{@histmsg.id}",
                    :url => { :controller => 'users', :action => 'edit_blog_entry',
                              :blog_entry_id => @histmsg.id }}, {:class=>"buttonEdit", :title=>"edit"} %></span>

        <% end %>

    </td>
    <% distance = number_with_precision(@histmsg.distance_to(session[:geo_location]), 1)  if @histmsg.lat %>
    <td class="where" title="<%=  h("about "<<distance << " miles ") if distance  %>">
        <em class="hide"><%=distance||9999999%></em>
        <span><%= h @histmsg.where.downcase %></span>
        <% map_index=@mapmessages.index(@histmsg) if @mapmessages
           if @histmsg.lat && @mapmessages && map_index && map_index < 99 then %>
            <span class="hasMap"
                  id="marker<%=(map_index+1).to_s%>"
                  onclick="showMapIcon(<%=map_index+1%>);"
                  /> </span>
        <% elsif @histmsg.lat %>
           <span class="hasMap" id="oldMapMarker"/> </span>
        <% end %>

    </td>

    <td>
        <span class="price">  <%=
            displaytext = @histmsg.price_text.downcase.index(/[aeioubcdfghjklmnpqrstvxxyz]/)  unless @histmsg.price_text.nil?          
            if displaytext
                @histmsg.price_text
            else
                number_to_currency(@histmsg.price)
            end
        %> </span>
    </td>

    <td title="<%= @histmsg.user.ranked %>">

        <%= @histmsg.user.name %>

        <% if logged_in? and @user.id != @histmsg.user.id and !@user.subscriptions.collect{|f| f.friend_id}.include?(@histmsg.user.id) %>
            <span><%= link_to_remote  "<em>add to favorite</em>", {
                    :url => { :controller => 'users', :action => 'add_user_to_favorites',
                            :friend_id => @histmsg.user.id }, :confirm => 'Add '+@histmsg.user.name + ' to my favorite users?'},
                    {:class=>"buttonAddFave", :title => 'add to favorites'} %>
                </span>

        <% end %>
    </td>

    <td>
        <em class="hide"><%=@histmsg.created_at.strftime("%m/%d/%Y %I:%M %p")%></em>
        <span class="small" title="<%= distance_of_time_in_words(Time.now, @histmsg.created_at) %> ago">
            <%= @histmsg.created_at.strftime("%m/%d/%Y %I:%M %p") -%>

        </span>
    </td>

    <td>
        <%= render :partial => "ratings/rate", :locals => { :asset => @histmsg } %>
    </td>

</tr>
<% last_id = @histmsg.id  unless @histmsg.nil? %>