<div id="searchrow">
  <%= hidden_field :user, :id %>
  <%= hidden_field :user, :show_friends_only %>
  <%= hidden_field :user, :show_unmapped, :value => @filter[:show_unmapped]||false %>
  <%= hidden_field :blog_entry, :category_list %>
  <%= hidden_field :blog_entry, :author_id %>
  <%= hidden_field :blog_entry, :sliders, :value => session[:sliders]||false %>
  <%= hidden_field :blog_entry, :map, :value => session[:map]||false %>
  <%= hidden_field :user, :post_limit, :value => @filter[:post_limit] %>
  <table id="searchTable" cellspacing="0" cellpadding="4">
    <tr>
      <td colspan="2">
        <span> Search for:</span>
        <input id="blog_entry_search" name="blog_entry[search]" size="40" type="text" value="<%= @filter[:searchterms] %>"

        />
      </td>
      <td colspan="2">
        <span >Near:</span>
        <input id="default_location" name="default_location"
               size="40" type="text"

               value="<%= session[:geo_location].full_address unless session[:geo_location].nil? %>"/>
      </td>

      <td>
        <a class="buttonRed" onclick="$(this).up('form').submit(); return false;"
           href="#">
          <span>Search</span>
        </a>

        <%= link_to "<span>Reset</span>", "/#{'who/'+current_web_user.login if logged_in?}", {:class=>'button'} %>

        <% if session[:sliders] == true %>
            <a id="slidersOff" class="button" href="#" onclick="slidersOff();">Hide Search Options</a>
            <a id="slidersOn" class="button" href="#" onclick="slidersOn();" style="display:none">More Search
              Options</a>
        <% else %>
            <a id="slidersOff" class="button" href="#" onclick="slidersOff();" style="display:none">Hide Search Options
            </a>
            <a id="slidersOn" class="button" href="#" onclick="slidersOn();">More Search Options</a>
        <% end %>

      </td>
    </tr>
  </table>

</div>