<% form_for :blog_entry, @message, :url => {:action => 'search'}  do |f| %>
    <%= render :partial =>  'listings/search' %>
    <div id="container" class="centered">
        <div id="welcome" onclick="window.location.assign('/signup');"

             <% if session[:sliders] && session[:sliders]==true then %>
             class="hide"
             <% end %> >

            <%= render :partial => 'welcome_verbage' %>
        </div>

        <%= render :partial =>  'layouts/leftbar' %>
        <%= render :partial =>  'layouts/rightbar' %>
        <span style="position: absolute; z-index: 10; width: 225px; right: 0px; height: 268px; top: 117px;
                <% if !session[:sliders] then %>display:none<% end %>;" id="tipsy-pen">  </span>

        <div class="centered-sm">
            <% @last_id = 0 %>
            <%= render :partial => '/listings/search_sliders' %>

            <%= render :partial => 'messagelist' %>

        </div>


    </div>
<% end %>