<div id="user-control-panel">
    <div> <%= link_to '<strong>Your Account</strong>',
                            {:controller => 'users',
                                    :action => 'edit',
                                    :id => current_web_user.user.id }%> </div>
    <%= render_partial '/users/public' %>
    <div>
        <label><%= link_to "Favorites", :action => 'manage_favorites', :id => current_web_user.user.id %> only  </label>
        <input id="ucp_user_show_friends_only" name="user[show_friends_only]"
               type="checkbox" <%= 'checked' if @user.show_friends_only? %>
               onclick="set_show_friends_only(<%=!@user.show_friends_only%>);"
               title="only show posts by favorite users"
        />
    </div>

</div>