<td colspan="7">
  <% form_remote_for(:blog_entry_edit, @blog_entry, :url => {:controller => "users", :action =>"update_blog_entry"} ) do |f| %>

      <input type="hidden" id="blog_entry_edit_id" name="blog_entry_edit[id]" value="<%= @blog_entry.id -%>"/>
      <input type="hidden" id="blog_entry_map_index" name="blog_entry_edit[map_index]" value="<%= @map_index -%>"/>

      <div id="<%= 'errors-'<<@blog_entry.id.to_s %>" class="error hide"><%= f.error_messages %>
        <%= flash[:error] %>
      </div>

      <table id="edit-<%= @blog_entry.id.to_s %>">
        <tr>
          <td class="editing">
            <p><label> What:</label>
              <%= f.text_field :what, :size =>30 -%>
            </p>

            <p><label> Categories:</label>


              <%= f.text_area :category_list, :size =>"20x1", :value => @blog_entry.category_list -%>

              <%= select_tag 'master_category_list[]', options_for_select(BlogEntry.master_category_list), { :multiple => false } %>

            </p>


            <p><label> Where:</label>
              <%= f.text_field :where, :size => 66 %>
            </p>

            <p><label>How Much: $</label>
              <% displaytext = @blog_entry.price_text.downcase.index(/[aeioubcdfghjklmnpqrstvxxyz]/)  unless @blog_entry.price_text.nil?
                 if displaytext
                     price= @blog_entry.price_text
                 else
                     price= number_with_precision(@blog_entry.price, 2)
                 end %>
              <%= f.text_field :price, :size=> 6, :value => price %>
            </p>

            <p><label>Rating:</label>
              <%= render :partial => "ratings/rate", :locals => { :asset => @blog_entry } %>
            </p>
          </td>

        </tr>
        <tr>
          <td colspan="7" class="buttonTd">

            <%= link_to_remote "Remove",
                               {:url => { :controller => 'users', :action => 'destroy_blog_entry', :blog_entry_id =>  @blog_entry.id },
                                :confirm => "It will be gone! Sure?"},
                               {:class=> 'button'} %>

            <%= link_to_remote "Cancel",
                               {:url => { :controller => 'users',
                                          :action => 'cancel_update_blog_entry',
                                          :blog_entry_id =>  @blog_entry.id,
                                          :map_index => @map_index},
                                }, {:class=> 'button'} %>

            <a class="button" onclick="$(this).up('form').onsubmit();"
               href="#">
              <span>Save</span>
            </a>

          </td>
        </tr>
      </table>
  <% end %>
</td>