<% form_for(:blog_entry, @msg, :url => {:controller => "users", :action =>"new_msg"} ) do |f| %>

    <%= hidden_field :user, :id %>

    <strong>Here's the chance to share your savings!</strong>
    <table id="inputBox" cellspacing="0px">

        <tr>
            <td><label>What:</label> <br/> <%= f.text_field :what, :size => 30 %> <br/>
                <span class="help">e.g.,wine glasses, sofas, rugs </span>
            </td>

            <td><label>Where:</label> <br/><%= f.text_field :where, :size => 30 %>  <br/>
                <span class="help">Crate and Barrel@55 Stockton St,San Francisco</span>
            </td>

            <td><label>How Much:</label> <br/> $<%= f.text_field :price, :size=>15 -%> <br/>
                <span class="help">$1.49 each, 50% off, BOGOF, etc (get it?)</span>
            </td>

            <td style="vertical-align:middle;">
                <%= link_to_function "Post", "$(this).up('form').submit()", {:class=>'buttonRed'} %>
                &nbsp;&nbsp;
            </td>

        </tr>      

    </table>
<% end %>