<div id="userProfile">
        <div>
            <label>Screen name:</label>
            <%= @user.name %>
        </div>


        <div  title=" your shopping voodoo is..">
            <label>Mojo:</label> <%= @user.ranked %>
        </div>

        <div>
            <label>   <%= link_to_function  'Posts', "submitByUser('#{@user.id}');" %> </label> <%= @user.blog_entries.count %>
        </div>

        <div>
            <label>Location:</label> <%= @user.address %>
        </div>

</div>