<div id="container-loggedin">
    <% form_for :blog_entry, @message, :url => {:action => 'search'}  do |f| %>
        <%= render :partial =>  'layouts/leftbar' %>
        <%= render :partial =>  'layouts/rightbar' %>
        <%= render :partial =>  'listings/search' %>
        <div class="centered-sm"><%= render :partial =>  'listings/search_sliders' %></div>
      
    <% end %>

    <div class="centered-sm">
        <% if logged_in? && current_web_user.user.id == @user.id %>
            <%= render :partial =>  '/users/input_header' %>
            <% @last_id = 0 %>
            <%= render :partial =>  'listings/messagelist' %>

        <% end %>
    </div>


</div>

