<div id="footer">   
    <%= link_to 'Contact Us', 'mailto:wwhow@gmail.com' %>::
    <%= link_to 'Terms of Use', '/tos' %>::
    <%= link_to 'Privacy Policy', '/privacy' %>::
    <%= link_to 'Blog', 'http://wwhow.wordpress.com/' %>::
    <%= link_to 'Facebook', 'http://www.facebook.com/home.php#/pages/WWHOW/91505256776?ref=nf' %>::
    <%= link_to 'Twitter', 'http://twitter.com/wwhow' %>
</div>