<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <%= render :partial => 'layouts/shared_meta' %>
  <title>WWHOW!</title>
  <%= javascript_include_tag :defaults %>
  <%= stylesheet_link_tag 'main' %>
  <!--[if IE]>
    <%= stylesheet_link_tag 'ie' %>
<![endif]-->

</head>
<body>
<div id="frame">

  <%= render_partial 'layouts/menu' %>
  <div id="bannerCommon"><%= render_partial 'shared/home'%></div>

  <div id="container">

   <%= render_partial '/shared/system_messages' %>
    <%= yield %> 

  </div>

  <%= render_partial 'layouts/footer' %>

</div>


<%= render_partial 'layouts/endscripts' %>
</body>

</html>
