<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <%= render :partial => 'layouts/shared_meta' %>
  <%= render :partial => 'layouts/title' %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'fastinit' %>
  <%= javascript_include_tag 'tablesort' %>
  <%= javascript_include_tag 'slider' %>

  <%= stylesheet_link_tag 'main' %>
  <%= stylesheet_link_tag 'rating' %>
  <!--[if IE]>
       <%= stylesheet_link_tag 'ie' %>
<![endif]-->

</head>


<div id="frame">

  <%= render_partial 'layouts/menu' %>
  <div id="bannerLoggedIn"><span id="tipsy"></span><%= render_partial 'shared/home' %></div>

  <%= yield %>

  <%= render_partial 'layouts/footer' %>

</div>

<div id="busy" style="display:none">please wait..</div>
<div id="tooltip" style="display:none"></div>
<%= render_partial 'layouts/endscripts' %>
</body>

</html>